<footer class="footer">
	<small>
		The Task Manager by Mary Lutsyuk
	</small>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Log in", '#' %></li>
		</ul>
	</nav>
</footer>